@import url(https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;0,600;1,500&display=swap);
*,
:after,
:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  overflow-x: hidden !important;
}
body {
  font-family: "Space Grotesk", sans-serif;
  width: 100vw;
  background-color: #fff;
}
#monLogo {
  width: 40px;
}
.remiLopez {
  font-size: 10vw;
  letter-spacing: 0.2rem;
  color: red;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: red;
  margin-bottom: 20px;
  text-shadow: 2px 2px 1px #464646;
}
.portrait {
  margin-top: 50px;
  width: 30vw;
  -webkit-animation: float 5s ease-in-out infinite;
  animation: float 5s ease-in-out infinite;
}
@-webkit-keyframes float {
  0% {
    -webkit-transform: translatey(15px);
    transform: translatey(15px);
  }
  50% {
    -webkit-transform: translatey(25px);
    transform: translatey(25px);
  }
  to {
    -webkit-transform: translatey(15px);
    transform: translatey(15px);
  }
}
@keyframes float {
  0% {
    -webkit-transform: translatey(15px);
    transform: translatey(15px);
  }
  50% {
    -webkit-transform: translatey(25px);
    transform: translatey(25px);
  }
  to {
    -webkit-transform: translatey(15px);
    transform: translatey(15px);
  }
}
@media (min-width: 768px) {
  .remiLopez {
    font-size: 8vw;
  }
  .portrait {
    margin-top: 0;
    max-width: 300px;
    margin-left: 5vw;
  }
}
.aboutme {
  width: 90vw;
  margin: 0 auto 80px;
  padding-top: 100px;
}
.aboutme h2 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 20px;
  text-transform: uppercase;
  color: red;
  font-weight: 300;
  margin: 0 0 30px;
  letter-spacing: 0.25rem;
  border-bottom: 3px solid red;
}
.aboutme p {
  letter-spacing: 0.05rem;
  line-height: 1.5rem;
  text-align: justify;
  margin: 30px 0;
}
@media (min-width: 768px) {
  .aboutme {
    background-image: url(../../img/illu-aboutme.png);
    background-repeat: no-repeat;
    background-size: 180px;
    background-position: bottom left 5%;
  }
  .aboutme h2,
  .aboutme p {
    margin-left: 35%;
  }
}
#competences {
  height: auto;
  margin-bottom: 180px;
  padding-top: 140px;
}
#competences h2 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 50px;
  font-size: 5vw;
  text-transform: uppercase;
  color: red;
  font-weight: 300;
  letter-spacing: 0.25rem;
  border-bottom: 3px solid red;
}
#text {
  width: 100vw;
  padding: 100px 0;
  white-space: nowrap;
  overflow-x: hidden !important;
  background-image: url(../../img/illu-competences.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
}
#text .line1,
#text .line2,
#text .line3 {
  display: flex;
  -webkit-animation: infiniteText 10s linear infinite;
  animation: infiniteText 10s linear infinite;
  cursor: pointer;
  -webkit-animation-play-state: running;
  animation-play-state: running;
  margin-bottom: 20px;
}
#text .line1 span,
#text .line2 span,
#text .line3 span {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
  margin: 0 65px;
  transition: all 0.5s ease;
}
#text .line2 {
  animation-direction: reverse;
}
#text .line2 span,
#text .line3 span {
  margin: 0 50px;
}
#text .line:hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
#text span:nth-child(2n):hover,
#text span:nth-child(odd) {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
}
#text span:nth-child(odd):hover {
  color: #000;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
}
@media (min-width: 768px) {
  #text .line1 span,
  #text .line2 span,
  #text .line3 span {
    font-size: 50px;
  }
  #text .line2 span {
    margin: 0 90px;
  }
}
@-webkit-keyframes infiniteText {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@keyframes infiniteText {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
#portfolio {
  width: 100vw;
  height: auto;
  padding: 10vh 0 0;
}
#portfolio-wrapper {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
  grid-template-columns: 50% 50%;
}
#ProjetCinq,
#ProjetQuatre,
#ProjetUn {
  background-color: #000;
  color: #fff;
}
#ProjetDeux,
#ProjetSix,
#ProjetTrois {
  background-color: red;
  color: #000;
}
#ProjetCinq:hover,
#ProjetDeux:hover,
#ProjetQuatre:hover,
#ProjetSix:hover,
#ProjetTrois:hover,
#ProjetUn:hover {
  background-color: transparent;
  transition: all 0.5s ease;
}
#ProjetUn:hover {
  background-image: url(../media/Calculator.9c0cc65d.png);
}
#ProjetDeux:hover,
#ProjetUn:hover {
  background-size: cover;
  background-position: 50%;
  transition: all 0.5s ease-in-out;
}
#ProjetDeux:hover {
  background-image: url(../media/Sunnyside.5d077fc1.png);
}
#ProjetTrois:hover {
  background-image: url(../media/loopstudio.d9178033.jpg);
  background-position: 50%;
}
#ProjetQuatre:hover,
#ProjetTrois:hover {
  background-size: cover;
  transition: all 0.5s ease-in-out;
}
#ProjetQuatre:hover {
  background-image: url(../media/Room-Page.d377dee6.png);
  background-position: top;
}
#ProjetCinq:hover {
  background-image: url(../media/crowdfunding.74b4ddf2.jpg);
}
#ProjetCinq:hover,
#ProjetSix:hover {
  background-size: cover;
  background-position: 50%;
  transition: all 0.5s ease-in-out;
}
#ProjetSix:hover {
  background-image: url(../media/Pageview.7d38199a.png);
}
#Github {
  text-align: center;
  margin-top: 40px;
  z-index: 4;
}
#github {
  -webkit-text-decoration: transparent;
  text-decoration: transparent;
  width: -webkit-max-content;
  width: max-content;
  padding: 15px 25px;
  font-family: "Space Grotesk", sans-serif;
  text-transform: uppercase;
  background-color: red;
  border: transparent;
  box-shadow: 2px 2px 10px 2px #7a7a7a;
  color: #fff;
}
#github:hover {
  background-color: #000;
  transition: 0.3s ease-in-out;
}
@media (min-width: 768px) {
  #ProjetQuatre {
    background-color: red;
    color: #000;
    transition: all 0.5s ease;
  }
  #ProjetTrois {
    background-color: #000;
    color: #fff;
    transition: all 0.5s ease;
  }
}
#contact {
  width: 100%;
  padding: 18vh 5% 0;
  height: auto;
  margin: 0 auto;
}
#contact-img {
  text-align: center;
}
#contactImg img {
  width: 80%;
  -webkit-animation: plane 2s ease infinite;
  animation: plane 2s ease infinite;
}
#contact h2 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 20px;
  text-transform: uppercase;
  color: red;
  font-weight: 300;
  margin: 40px 0 30px;
  letter-spacing: 0.25rem;
  border-bottom: 3px solid red;
}
#contact p {
  letter-spacing: 0.1rem;
  line-height: 1.6rem;
  text-align: justify;
  margin-bottom: 50px;
}
form input {
  outline: none;
  width: 100%;
  padding-left: 30px;
  height: 3rem;
  border: 1px solid #d3d3d3;
  background: transparent;
  margin: 0 auto 20px;
  box-shadow: 2px 2px 10px 2px #7a7a7a;
}
#email::-webkit-input-placeholder,
#name::-webkit-input-placeholder {
  font-family: "Space Grotesk", sans-serif;
}
#email:-ms-input-placeholder,
#name:-ms-input-placeholder {
  font-family: "Space Grotesk", sans-serif;
}
#email::placeholder,
#name::placeholder {
  font-family: "Space Grotesk", sans-serif;
}
#errorMsg {
  color: red;
  margin: -10px 5% 15px 0;
  font-size: 11px;
  float: right;
}
#btnForm {
  height: 2.5rem;
  width: 170px;
  font-family: "Space Grotesk", sans-serif;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  border: transparent;
  box-shadow: 2px 2px 10px 2px #7a7a7a;
  cursor: pointer;
}
#btnForm:hover {
  background-color: red;
  transition: 0.3s ease-in-out;
  -webkit-transform: scaleZ(20%);
  transform: scaleZ(20%);
}
@-webkit-keyframes plane {
  0% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  to {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
}
@keyframes plane {
  0% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  to {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
}
@media (min-width: 768px) {
  #contact {
    display: flex;
    flex-direction: row-reverse;
  }
  #contactImg {
    text-align: right;
    -ms-grid-row-align: center;
    align-self: center;
  }
  #contactImg img {
    width: 70%;
  }
}
footer img {
  width: 22px;
  margin-right: 10px;
}
footer a {
  font-size: 13px;
  -webkit-text-decoration: dotted;
  text-decoration: dotted;
  color: #fff;
  cursor: pointer;
}
footer a:hover {
  color: red;
  border-bottom: 0.125em dotted red;
}
/*# sourceMappingURL=main.17d2ebb3.chunk.css.map */
